<%- include("partials/header") %> 
<div class="col-xl">
<% posts.forEach( (post) => { %>
<a href="/posts/<%= post._id %>"><h1><%= post.title %> <i class="fas fa-arrow-circle-right fas-title"></i> </h1> </a>
<p><%- post.content %></p>
<% }) %>
</div>
<%- include("partials/sidea") %> 
<%- include("partials/footer") %> 